.form-card-wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}
.form-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 33px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    height: 50vh;
    width: 35vw;
}
.form-card h2{
    font-size: 25px;
}

.form-card input {
    width: 100% !important;
    padding: 7px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    margin: auto;
}

.form-card button {
    width: 200px;
    margin: auto;
    border: 1px solid #0a6ed1;
    color: #0a6ed1;
    background-color: white;
}
.view_set{
    position: absolute;
    margin-left: -27px;
    margin-top: 8px;
}
.input_single{
    display: flex;
    flex-direction: row;
 
}