.commentBox-wrapper {
  position: absolute;
  right: -8px;
  top: -23px;
}
.textarea-wrapper {
  position: relative;
  display: flex;
}

.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
  word-wrap: break-word;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.textarea[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

.type2 {
  font-weight: bold;

  align-items: center;
  justify-content: center;
  right: -15px;
  left: 8px;
  bottom: 13px;
  position: absolute;
  display: flex;
  z-index: -999;
}
.disable_span {
  pointer-events: none;
}
.loader {
    height: 100% !important;
    position: fixed;
    left: 50%;
    top: 45%;
    text-align: center;
}
.box_shadow {
  box-shadow: -6px -1px 36px 15px rgba(176, 162, 162, 0.13);
  -webkit-box-shadow: -6px -1px 36px 15px rgba(176, 162, 162, 0.13);
  -moz-box-shadow: -6px -1px 36px 15px rgba(176, 162, 162, 0.13);
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.335);
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.align_item_p {
  display: flex;
  flex-direction: row;
}
.width_40 {
  width: 40%;
}
.width_10 {
  width: 10%;
}
